// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    padding-bottom: 20px;
    background-image: url("../../storage/app/public/img/MIK_Piknik_6.png ");
    background-color: #1b4b72;
    background-repeat: no-repeat;
    background-size: cover;
}

.page{
    background-color: #1b4b72;
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    box-shadow: 0px 50px 50px rgb(0,0,0);
}

.content {
    width: 1070px;
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    grid-column: 2;
    float: left;
}

.navbar {
    margin-bottom: 20px;
}

.top-nav{
    box-shadow: 0px 5px 50px rgb(0,0,0);
}

.footer {
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #1b4b72;
    text-align: center;
}

.sidebar{
    width: 180px;
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    grid-column: 1;
    float: left;
    background-color: #cb6f31;
}

.menu{
    padding-top: 30px;
}

.my-nav-item{
    width: 180px;
    padding: 0 10px;
    background-color: #ffffff;
    line-height: 40px;
    text-decoration: none;
    border-bottom:1px solid #555;
    border-top:1px solid #555;
}

.my-nav-item:hover{
    background-color: #849ac2;
    color:white;
}

.side-a {
    color: #1b4b72;
    text-decoration: none;
}

.welcome{
    color: white;
    font-size: xx-large;
}

.mik-logo{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-login{
    color: #1b4b72;
}

.user-table{
    background-color: #b2b4ca;
}

.small-td{
    width: 8%;
}

.sort{
    text-decoration: none !important;
    color: inherit;
}

.btn-show {
    background-color: #007958;
}

.btn-edit {
    background-color: black;
}

/* Make circles that indicate the steps of the form: */
.step-div {
    text-align:center;
    margin-top:10px;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step-finish {
    background-color: #04aaaa;
}

.info-font {
    font-size: 12px;
}


